# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

test
127.0.0.1
localhost
0.0.0.0

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Cloudflare
.wrangler
wrangler.toml

# database files
*.sqlite
*.sqlite3